@tailwind base;
@tailwind components;
@tailwind utilities;

.spark-app-container div {
  @apply p-1 bg-black bg-opacity-5;
}

.jotai-devtools-trigger-button {
  bottom: 5rem !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  background-color: transparent !important;
}

.btn {
  @apply rounded-full bg-indigo-600 p-2 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}
